* {
  font-size: 2rem;
}

i {
  cursor: pointer;
}

.country {
  color: rgb(219, 218, 218);
}

ul {
  margin: 0;
}

.regions {
  height: 41.1rem;
  overflow: auto;
  color: white;
}

.regions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
}

.country_stats,
.region_stats {
  height: 44.4rem;
}

.country_stats,
.region_stats,
.regions {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
}

.country_stats li,
.regions li,
.region_stats li {
  padding: 2.3rem 1rem;
}

h4 {
  margin: 0;
  background-color: #ee3b80;
  color: white;
  padding: 0.4rem 0.2rem;
}

@media (max-width: 768px) {
  .country_stats li:nth-child(odd),
  .regions li:nth-child(odd),
  .region_stats li:nth-child(odd) {
    background-color: #ea4a88;
  }

  .country_stats li:nth-child(even),
  .regions li:nth-child(even),
  .region_stats li:nth-child(even) {
    background-color: #cf4378;
  }
}

@media (min-width: 768px) {
  .country_stats,
  .region_stats,
  .regions {
    grid-template-columns: 1fr 1fr;
  }

  .country_stats,
  .region_stats {
    height: 30rem;
  }

  .country_stats > li:nth-child(4n-2),
  .country_stats > li:nth-child(4n-1),
  .region_stats > li:nth-child(4n-2),
  .region_stats > li:nth-child(4n-1),
  .regions > li:nth-child(4n-2),
  .regions > li:nth-child(4n-1) {
    background-color: #cf4378;
  }

  .country_stats > li:nth-child(4n-3),
  .country_stats > li:nth-child(4n-4),
  .region_stats > li:nth-child(4n-3),
  .region_stats > li:nth-child(4n-4),
  .regions > li:nth-child(4n-3),
  .regions > li:nth-child(4n-4) {
    background-color: #ea4a88;
  }
}
