header {
  font-size: 2rem;
}

header h2 {
  background-color: orangered;
  color: white;
  margin: 0;
  padding: 1rem 0;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.6rem;
  background-color: rgb(248, 160, 160);
}

header > div * {
  margin: 0;
}

.filter {
  font-size: 2rem;
}

.search_results {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: 30rem;
  background-color: white;
  position: fixed;
  list-style-type: none;
}

.search_results li:first-child a {
  color: red;
}
