.countries_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link {
  text-decoration: none;
  color: black;
}

.link:nth-child(4n-2),
.link:nth-child(4n-1) {
  background-color: #cf4278;
}

.link:nth-child(4n-3),
.link:nth-child(4n-4) {
  background-color: #d9427d;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  min-height: 40vw;
  padding: 0 0.4rem 0.4rem 0;
}

.country > div {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: right;
  color: #e7e3e3;
}

img {
  filter: invert(30%) sepia(96%) saturate(890%) hue-rotate(299deg) brightness(81%) contrast(89%);
}

.country_name {
  font-size: 2.1rem;
  font-weight: bold;
}

.country_open_cases {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .countries_container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .country {
    min-height: 25rem;
  }

  .link:nth-child(odd) {
    background-color: #cf4278;
  }

  .link:nth-child(even) {
    background-color: #d9427d;
  }
}

@media (min-width: 1100px) {
  .countries_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .country {
    min-height: 25rem;
  }

  img {
    width: 12.8rem;
    height: auto;
  }

  .link:nth-child(odd) {
    background-color: #cf4278;
  }

  .link:nth-child(even) {
    background-color: #d9427d;
  }
}

@media (min-width: 1800px) {
  .countries_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .country {
    min-height: 25rem;
  }

  .link:nth-child(odd) {
    background-color: #cf4278;
  }

  .link:nth-child(even) {
    background-color: #d9427d;
  }
}
